@import '//at.alicdn.com/t/font_3005078_1ew5be5vngi.css';

@import url("https://cdn.jsdelivr.net/gh/wuliang142857/webfonts/css/monaco.css");

//body {
//    -webkit-font-smoothing: antialiased;
//    // https://www.zaera.cn/2821.html
//    font-family: Helvetica, 'Hiragino Sans GB', 'Microsoft Yahei', '微软雅黑', Arial, sans-serif;
//}

code, pre {
    font-family: Monaco, MonacoRegular, Consolas, 'Andale Mono', 'Lucida Console', monospace;
    font-size: 16px !important;
}
    
    